.btn-mokantoru {
    background-color:rgb(83, 181, 159) !important;
    color: white !important;
}

.search {
    border: 1px solid rgb(167, 167, 167) !important;
    height: 40px;
    width: 100%;
    padding: 10px !important;
    border-radius: 20px !important;
    background: url(../icons/search.png) no-repeat scroll 7px 7px;
    background-size: 15px;
    background-position: 160px;
}