.divcol-2{
    width: 100px;
    min-height: 100vh;
    background-color:rgb(83, 181, 159);
    color: white;
    transition: 0.5s
}
.burger{
    padding:0 8px;
}
.divburger1, .divburger2, .divburger3{
    width: 35px;
    height: 4px;
    background-color: rgb(83, 181, 159);
    margin: 6px 0;
    transition: 0.1s
}
.change .divburger2{
    transform: translate(-8px, 0px);
}
.divcol-10{
    padding: 0px !important;
    width: 100% !important
}
.h1sidebar{
    margin: 8px 0;
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 0
}
.linkmenusidebar{
    color: white;
    font-size: 14px;
    font-weight: 800
}
.linkmenusidebar:hover{
    color: rgb(226, 226, 226); 
    text-decoration: none
}
.ulsidebar{
    padding: 0
}
.ulmenusidebar{
    padding-left: 20px
}
li{
    list-style: none
}