.cardRegister{
    border-radius: 0px !important;
    border-color: black !important;
    width: 2000rem !important;
}

.registerTitle{
    font-size: 40px !important;
}


.buttonRegister{
    border-radius: 0 !important
}